@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECEDFD;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ECEDFD;
    --foreground: #000000;
  }
}

/* Apply Tailwind's dark mode utilities */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Raleway;
}

@layer base {
  /* Set background and text color based on the dark mode scheme */
  .dark body {
    color: #ededed;
    background-color: #0a0a0a;
  }
}

